@media  screen and (max-width:688px) {
    header, .ul{
     flex-direction: column;
        
    }
    .bottom_header img{
        width: 100%;

    }
   /* second section responsive */
   .imagegrid{
    display: flex;
    flex-direction: column;
    text-align: center;
    
   }
   .teamimg{
    grid-template-columns: repeat(1, 1fr);
   }

   /* feature section  */
   .feature{
    flex-direction: column;
    align-items: center;
   }
}